Pillow==10.1.0
einops==0.7.0
git+https://github.com/tatsy/torchmcubes.git
huggingface-hub==0.17.3
imageio[ffmpeg]
gradio
xatlas==0.0.9
moderngl==5.10.0
scipy>=1.11.0
plotly>=5.14.0
rtree>=1.0.0
tqdm>=4.65.0
matplotlib>=3.7.1
pandas>=1.5.3
torchvision>=0.13.0
numpy>=1.24.2
torch>=2.1.2
lpips
omegaconf
transformers
safetensors
accelerate
PyMCubes
trimesh
megfile
opencv-python
optimum[onnxruntime-gpu]
rembg[gpu,cli]
httpx[socks]
tensorboard